<div class="Toolhe">
    <h1>Tools-Used</h1>
</div>
<div class="card-div">
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>JMeter</mat-card-title>
            <mat-card-subtitle>JMeter latest version</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
    
        <div class="img">
            <img mat-card-md-image src="assets//images//Jmeter.png" />
        </div>
        <mat-card-content>
    
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
    
            </mat-card-actions>
        </mat-card-content>
        <mat-card-footer>
            <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
    </mat-card>


<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//jenkins.jpg" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>


</mat-card>


<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//BASH.png" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>


<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//BAT.png" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//JAVA.png" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>


<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//MAVEN.png" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>

    <mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Jenkins</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//postman.jpeg" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>



<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>MYSQL</mat-card-title>
        <mat-card-subtitle>Jenkins Server IP=10.147.3.1</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
        <img mat-card-md-image src="assets//images//DB.jpg" />
    </div>
    <mat-card-content>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>share</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
</div>
