<!-- <div class="menupage">
    <mat-toolbar color="primary" class="mat-elevation-z8" class="menupage">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
      </button>
        <img src="assets//images//logo.JPG"/>
        <span class="example-span"></span>
        <button routerLink="" mat-button>Home</button>
        <button  routerLink="input" mat-button>Input</button>
        <button routerLink="autocomplete" mat-button>Autocomplete</button>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start"> -->
             <mat-nav-list>
                <div class="logo py-3">
                    <img src="assets//images//logo.JPG" alt="Company logo"/>
                </div>
                <mat-divider></mat-divider>
                <!-- <h2 matSubheader class="mt-2">Table content</h2> -->

                <a mat-list-item routerLink="/input" routerLinkActive="list-item-active"><mat-icon> label icon</mat-icon>Pre-Requisite</a>
                
    
                <a mat-list-item routerLink="/Tools-used" routerLinkActive="list-item-active"><mat-icon> label icon</mat-icon>Tools-used</a>
                
                <a mat-list-item routerLink="/roles" routerLinkActive="list-item-active"><mat-icon> label icon</mat-icon>Roles Involved</a>

                <a mat-list-item routerLink="/tester" routerLinkActive="list-item-active"><mat-icon> label icon</mat-icon>Testers workflow</a>

                <a mat-list-item routerLink="/BA" routerLinkActive="list-item-active"><mat-icon> label icon</mat-icon>BA workflow</a>

               


            </mat-nav-list>
                

                 <!-- <mat-list-item>
                    <button routerLink="Tools-used" routerLinkActive="active-link" mat-button><mat-icon class="icon1"> label icon</mat-icon>tools-used</button>
                </mat-list-item>

                <mat-list-item>
                    <button routerLink="Tools-used" routerLinkActive="active-link" mat-button><mat-icon> label icon</mat-icon><h1 class="content">Tools Used</h1></button>
                </mat-list-item>
                <mat-list-item>
                    <button routerLink="roles" routerLinkActive="active-link"  mat-button><mat-icon>  label icon</mat-icon><h1 class="content">Roles Involved</h1></button>
                </mat-list-item>
                <mat-list-item>
                    <button routerLinkActive="active-link"  mat-button><mat-icon> label icon</mat-icon><h1 class="content">Testers workflow</h1></button>
                </mat-list-item>
                <mat-list-item>
                    <button routerLinkActive="active-link"  mat-button><mat-icon> label icon</mat-icon><h1 class="content">BA workflow</h1></button>
                </mat-list-item>
     -->
              
                
              
    
          
    
        <!-- </mat-drawer>
        <mat-drawer-content>
            <div style="text-align:center;min-height:700px">
                <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
    </mat-drawer-container>
    
</div> -->